.actions {
    margin-top: 90px;

    .actions-list {
        margin: 42px auto 0;
        width: 58.4%;

        :first-child {
            margin-top: 0;
        }
    }

    .action-item {
        margin-top: 57px;
        @include flex-spb;
    }

    .actions-number {
        display: block;
        @include font-firo;
        @include font(144px, 0.95, 400);
        color: $fill-color-hover;
    } 

    .action-text {
        display: block;
        @include font(18px, 1.66, 400);
        width: 84.7%;
        padding: 40px 69px 40px 30px;
        align-self: center;
        color: $main-text-color;
        background-color: $bg-action-text;
    }

    .action-condition {
        width: 60.5%;
        margin: 99px auto 0;
        padding-bottom: 99px;
    }

    .action-condition__title {
        @include font(26px, 1.15, 500);
        text-align: center;
        color: $main-heading-color;
    }

    .action-condition-text {
        padding-top: 30px;
        @include font(20px, 1.5, 400);
        color: $main-text-color;
        text-align: center;
    }
}