.advertising {
    background-color: transparent;

    .advertising-wrap {
        @include flex-spb;
        align-items: center;
    }

    .advertising-content {
        max-width: 527px;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .advertising-text {
        margin: 0 auto;
        width: 86.5%;
        text-align: center;
    }

    .advertising-picture {
        position: relative;
        left: -25px;
        max-width: 741px;
        min-height: 389px;
        background-color: $advertising-bg-img;
    }

    .advertising-img {
        position: relative;
        top: 19px;
        right: -25px;
    }
}