.gold-cart {

    .gold-cart__title {
        margin-top: 110px;
    }

    .gold-cart__advantages {
        margin-top: 51px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gold-cart__list {
        padding-left: 31px;
    }

    .gold-cart__item {
        padding-top: 20px;
        color: $white-color;
        &:first-child {
            padding-top: 0;
        }
    }

    .gold-cart__btn {
        margin-top: 60px;
        margin-left: 50%;
        transform: translate(-50%);
    }
}