.results {
    width: 100%;
    background-color: $results-bg-color;
    position: relative;
    
    &::before {
        content: url(../img/triangles.svg);
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .results-wrap {
        display: flex;
        justify-content: space-between;
        padding: 63px 30px 73px 30px;
    }

    .results-content {
        width: 38%;
        text-align: center;
    }

    .results-title {
        @include font(28px, 1.8, 500);
        color: $main-heading-color;
    }

    .results-text {
        padding-top: 25px;
        color: $main-text-color;
    }
}