$white-color: rgba(255, 255, 255, 1);
$black-color: rgba(0, 0, 0, 1);
$title-color: rgba(230,159,94, 0.8);
$header-bg-color: rgba(41, 56, 43, 0.6);
$main-text-color: rgba(255, 255, 255, 0.6);
$main-heading-color: rgba(255, 255, 255, 0.8);
$btn-color: rgba(64, 187, 164, 0.6);
$body-bg: rgba(229, 229, 229, 1);
$fill-color: rgba(7, 6, 6, 0.88);
$fill-color-hover: rgba(235, 179, 126, 0.8);
$bg-action-text: rgba(66, 82, 75, 0.7);
$vk-link-color: rgba(72, 116, 181, 1);
$results-bg-color: rgba(71, 80, 76, 0.6);
$footer-bg-color: rgba(43, 47, 45, 1);
$partners-bg: rgba(192, 188, 188, 1);
