$white-color: rgba(255, 255, 255, 1);
$black-color: rgba(0, 0, 0, 1);
$body-bg-color: rgba(46, 59, 52, 1);
$advertising-bg-img: rgba(84, 114, 98, 0.3);
$intro-color-span: rgba(233, 160, 50, 0.8);
$btn-color: rgba(208, 127, 77, 1);
$btn-color-focus: rgba(196, 119, 71, 1);
$btn-color-active: rgba(195, 109, 55, 1);
$fill-color: rgba(7, 6, 6, 0.88);
$fill-color-hover: rgba(235, 179, 126, 0.8);
$vk-link-color: rgba(72, 116, 181, 1);
