$white-color: rgba(255, 255, 255, 1);
$black-color: rgba(0, 0, 0, 1);
$body-bg-color: rgba(46, 59, 52, 1);
$advertising-bg-img: rgba(84, 114, 98, 0.3);
$intro-color-span: rgba(233, 160, 50, 0.8);
$btn-color: rgba(208, 127, 77, 1);
$btn-color-focus: rgba(196, 119, 71, 1);
$btn-color-active: rgba(195, 109, 55, 1);
$fill-color: rgba(7, 6, 6, 0.88);
$fill-color-hover: rgba(235, 179, 126, 0.8);
$vk-link-color: rgba(72, 116, 181, 1);
$border-color: rgba(255, 255, 255, 0.5);
$main-text-color: rgba(255, 255, 255, 0.8);
$action-numb-color: rgba(230, 159, 94, 1);
$action-text-bg:rgba(66, 82, 75, 0.8);
$result-span-color: rgba(230, 159, 94, 0.7);
$gold-cart-bg-img: rgba(87, 123, 105, 1);
$questions-list-bg: rgba(66, 82, 75, 0.8);
$footer-text-color: rgba(92, 107, 101, 1);